.outer-nav-bar {
    height: 10vh;
    width: 100%;
    border: solid 1px yellow;
    display: flex;
    justify-content: space-between;
    background: transparent;
}

.inner-nav-prof {
    height: 100%;
    width: 80%;
    display: flex;
    align-items: center;
    border: 1px solid rgb(255, 0, 0);
}

.prof-text {
    color: white;
    margin: 1em;
    text-decoration: none;
}

.outer-logo {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 20%;
    height: 100%;
}

.logo {
    height: 70%;
    width: 65%;
}

.nav-home-link {
    color: white;
    text-decoration: none;
    margin: 0.5em;
}

.action-outer-div {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    border: 1px solid blue;
}

.action-outer-div-prof {
    height: 100%;
    width: 20%;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    /* background-color: pink; */
}



.language-button {
    color: white;
    background: transparent;
    border: 0.09px solid rgb(251, 232, 232, 0.7);
    padding: 8px 12px;
    width: 6.5vw;
    border-radius: 2px;
    font-size: 0.9rem;
    font-weight: 400;
}

.fa-globe {
    margin-right: 5px;
}

.sign-in-button {
    border: none;
    background-color: #e50914;
    width: 6vw;
    padding: 8px 17px;
    border-radius: 2px;
}

.sign-in {
    text-decoration: none;
    color: white;
    font-size: 0.9rem;
    font-weight: 400;
}

.nav-bar-prof {
    width: 30%;
    height: 50%;
    margin-right: 1em;
}

.inner-div-prof-nav {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 50%;
    height: 100%;
    background-color: rgb(255, 192, 203, 0.3);
}

.inner-div-prof-nav:hover > i {
    transform: rotate(180deg);
}

.fa-caret-down {
    color: white;
    transform: rotate(0deg);  /* initial rotation */
    transition: transform 0.5s;  /* add a transition effect */
}
